body {
    background-color: black;
    color: white;
}

/* remove all padding */
* {
    margin: 0;
    padding: 0;
}

nav,
.nav-links {
    display: flex;
}

nav {
    justify-content: space-around;
    align-items: center;
    height: 17vh;
}

.nav-links {
    gap: 2rem;
    list-style: none;
    font-size: 1.5rem;
}

a {
    color: white;
    text-decoration: none;
    text-decoration-color: white;
}

a:hover {
    color: lightseagreen;
    text-decoration: underline;
    text-underline-offset: 1rem;
}

.nel-name {
    font-size: 2rem;
}

.nel-name:hover {
    cursor: default;
}

h2 {
    text-decoration: underline;
}

h4 {
    padding-top: 15px;
}

ul {
    list-style-position: inside;
}

section {
    padding: 0 15%;
}

.home-img img {
    width: 50%;
    height: auto;
    object-fit: contain;
    border-radius: 50%;
    align-items: center;
    padding-bottom: 20px;
}

.aboutme-text {
    padding-bottom: 20px;
}

.contact {
    padding-top: 20px;
}